.header, .footer {
	background-color: white;
}

h1 {
	text-align: center;
}

.navBar {
	margin: 5px;
}

.clear {
	clear: all;
}
a:visited {
	color: red;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}